
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
</head>
<body>

    <form action="" method="post" class="form-styles">
        <h1>Pagina de Login</h1>
        <ul>
            <li>
                <input name="email" type="text" placeholder="E-mail" />
            </li>
            <li>
                <input name="senha" type="text" placeholder="Senha" />
            </li>
            <li>
                <input type="submit" value="Logar" />
            </li>
        </ul>
    </form>
    

</body>
</html>
